$utilities: map-merge(
  $utilities,
  (
    "object-fit": (
      property: object-fit,
      class: object-fit,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),
    "z-index": (
      property: z-index,
      class: z,
      values: $z-values,
    ),
    "max-viewport-height": (
      property: max-height,
      class: max-vh,
      values: (
        100: 100vh,
      ),
    ),
    "border-bottom": (
      property: border-bottom,
      responsive: true,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
      ),
    ),
    "max-width": (
      property: max-width,
      class: mw,
      responsive: true,
      values:
        map-merge(
          $pxs,
          (
            100: 100%,
          )
        ),
    ),
    "width": (
      property: width,
      class: w,
      values:
        map-merge(
          $percentages,
          (
            auto: auto,
          )
        ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      responsive: true,
      local-vars: (
        "bg-opacity": 1,
      ),
      values:
        map-merge(
          $utilities-bg-colors,
          (
            "transparent": transparent,
          )
        ),
    ),
    "height": (
      property: height,
      class: h,
      values:
        map-merge(
          $pxs,
          (
            vh: 100vh,
            auto: auto,
          )
        ),
    ),
    "opacity": (
      property: opacity,
      values: $opacity-values,
    ),
  )
);
